<!-- html table generated in R 3.4.2 by xtable 1.8-2 package -->
<!-- Tue Jan 16 10:01:21 2018 -->
<table border=1>
<caption align="bottom"> test </caption>
<tr> <th>  </th> <th> NASA </th> <th> NASA_effort </th> <th> CDT </th> <th> SDT </th> <th> CSCT_U </th> <th> CSCT_I </th> <th> CSCT_low </th> <th> CSCT_high </th> <th> LS_LP </th> <th> LS_HP </th> <th> RMadj </th>  </tr>
  <tr> <td align="right"> NASA </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> NASA_effort </td> <td>  0.79*** </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> CDT </td> <td>  0.16  </td> <td>  0.07  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> SDT </td> <td>  0.05  </td> <td> -0.01  </td> <td>  0.34*  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> CSCT_U </td> <td> -0.09  </td> <td> -0.09  </td> <td> -0.19  </td> <td> -0.22  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> CSCT_I </td> <td> -0.27  </td> <td> -0.20  </td> <td> -0.39*  </td> <td> -0.31  </td> <td>  0.54*** </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> CSCT_low </td> <td> -0.11  </td> <td> -0.02  </td> <td> -0.38*  </td> <td> -0.24  </td> <td>  0.65*** </td> <td>  0.71*** </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> CSCT_high </td> <td> -0.19  </td> <td> -0.18  </td> <td> -0.26  </td> <td> -0.27  </td> <td>  0.89*** </td> <td>  0.77*** </td> <td>  0.56*** </td> <td>  </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> LS_LP </td> <td> -0.23  </td> <td> -0.21  </td> <td> -0.29  </td> <td> -0.31  </td> <td>  0.52*** </td> <td>  0.34  </td> <td>  0.35  </td> <td>  0.51*** </td> <td>  </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> LS_HP </td> <td> -0.14  </td> <td> -0.12  </td> <td> -0.21  </td> <td> -0.41**  </td> <td>  0.53*** </td> <td>  0.39*  </td> <td>  0.44**  </td> <td>  0.50*** </td> <td>  0.75*** </td> <td>  </td> <td>  </td> </tr>
  <tr> <td align="right"> RMadj </td> <td> -0.30  </td> <td> -0.33*  </td> <td>  0.08  </td> <td>  0.08  </td> <td>  0.15  </td> <td>  0.21  </td> <td> -0.01  </td> <td>  0.26  </td> <td>  0.28  </td> <td>  0.16  </td> <td>  </td> </tr>
  <tr> <td align="right"> Pupil </td> <td> -0.04  </td> <td>  0.05  </td> <td>  0.06  </td> <td> -0.08  </td> <td>  0.27  </td> <td>  0.04  </td> <td>  0.18  </td> <td>  0.18  </td> <td>  0.08  </td> <td>  0.14  </td> <td>  0.02  </td> </tr>
   </table>
