<!-- html table generated in R 3.4.2 by xtable 1.8-2 package -->
<!-- Tue Jan 16 10:01:20 2018 -->
<table border=1>
<caption align="top"> xx </caption>
  & \multicolumn{4}{c}{Easier} & \multicolumn{4}{c}{Harder}& \multicolumn{2}{c}{test statistics}\\
 Task & mean & SD & min & max & mean & SD & min & max & t-value & p-value&Cohen's d \\
 <tr> <td> NASA </td> <td> 111 </td> <td align="right"> 10.63 </td> <td align="right"> 2.24 </td> <td align="right"> 5.00 </td> <td align="right"> 15.30 </td> <td align="right"> 12.39 </td> <td align="right"> 2.31 </td> <td align="right"> 5.57 </td> <td align="right"> 18.02 </td> <td align="right"> -16.00 </td> <td align="right"> 0.000 </td> <td align="right"> -0.77 </td> </tr>
  <tr> <td> NASA, effort </td> <td> 111 </td> <td align="right"> 12.46 </td> <td align="right"> 2.92 </td> <td align="right"> 5.15 </td> <td align="right"> 19.86 </td> <td align="right"> 13.90 </td> <td align="right"> 2.80 </td> <td align="right"> 6.18 </td> <td align="right"> 19.53 </td> <td align="right"> -11.25 </td> <td align="right"> 0.000 </td> <td align="right"> -0.50 </td> </tr>
  <tr> <td> CDT </td> <td> 103 </td> <td align="right"> 802 </td> <td align="right"> 158 </td> <td align="right"> 512 </td> <td align="right"> 1392 </td> <td align="right"> 834 </td> <td align="right"> 177 </td> <td align="right"> 520 </td> <td align="right"> 1440 </td> <td align="right"> -5.44 </td> <td align="right"> 0.000 </td> <td align="right"> -0.18 </td> </tr>
  <tr> <td> SDT </td> <td> 105 </td> <td align="right"> 1249 </td> <td align="right"> 187 </td> <td align="right"> 849 </td> <td align="right"> 1687 </td> <td align="right"> 1310 </td> <td align="right"> 201 </td> <td align="right"> 898 </td> <td align="right"> 1882 </td> <td align="right"> -5.93 </td> <td align="right"> 0.000 </td> <td align="right"> -0.31 </td> </tr>
  <tr> <td> CSCT </td> <td>  90 </td> <td align="right"> 0.84 </td> <td align="right"> 0.11 </td> <td align="right"> 0.53 </td> <td align="right"> 1.00 </td> <td align="right"> 0.84 </td> <td align="right"> 0.12 </td> <td align="right"> 0.59 </td> <td align="right"> 1.00 </td> <td align="right"> -0.09 </td> <td align="right"> 1.000 </td> <td align="right"> -0.01 </td> </tr>
  <tr> <td> CSCT, U </td> <td>  90 </td> <td align="right"> 0.79 </td> <td align="right"> 0.14 </td> <td align="right"> 0.44 </td> <td align="right"> 1.00 </td> <td align="right"> 0.79 </td> <td align="right"> 0.15 </td> <td align="right"> 0.44 </td> <td align="right"> 1.00 </td> <td align="right"> -0.29 </td> <td align="right"> 1.000 </td> <td align="right"> -0.03 </td> </tr>
  <tr> <td> CSCT, I </td> <td>  90 </td> <td align="right"> 0.90 </td> <td align="right"> 0.12 </td> <td align="right"> 0.31 </td> <td align="right"> 1.00 </td> <td align="right"> 0.88 </td> <td align="right"> 0.13 </td> <td align="right"> 0.31 </td> <td align="right"> 1.00 </td> <td align="right"> 0.68 </td> <td align="right"> 1.000 </td> <td align="right"> 0.07 </td> </tr>
  <tr> <td> CSCT, low load </td> <td>  90 </td> <td align="right"> 0.92 </td> <td align="right"> 0.09 </td> <td align="right"> 0.56 </td> <td align="right"> 1.00 </td> <td align="right"> 0.90 </td> <td align="right"> 0.10 </td> <td align="right"> 0.62 </td> <td align="right"> 1.00 </td> <td align="right"> 1.89 </td> <td align="right"> 0.312 </td> <td align="right"> 0.24 </td> </tr>
  <tr> <td> CSCT, high load </td> <td>  90 </td> <td align="right"> 0.76 </td> <td align="right"> 0.16 </td> <td align="right"> 0.31 </td> <td align="right"> 1.00 </td> <td align="right"> 0.77 </td> <td align="right"> 0.17 </td> <td align="right"> 0.38 </td> <td align="right"> 1.00 </td> <td align="right"> -0.84 </td> <td align="right"> 1.000 </td> <td align="right"> -0.03 </td> </tr>
  <tr> <td> LS </td> <td>  97 </td> <td align="right"> 0.53 </td> <td align="right"> 0.10 </td> <td align="right"> 0.32 </td> <td align="right"> 0.74 </td> <td align="right"> 0.50 </td> <td align="right"> 0.10 </td> <td align="right"> 0.31 </td> <td align="right"> 0.78 </td> <td align="right"> 5.29 </td> <td align="right"> 0.000 </td> <td align="right"> 0.33 </td> </tr>
  <tr> <td> LS, LP </td> <td>  97 </td> <td align="right"> 0.45 </td> <td align="right"> 0.12 </td> <td align="right"> 0.22 </td> <td align="right"> 0.75 </td> <td align="right"> 0.40 </td> <td align="right"> 0.12 </td> <td align="right"> 0.17 </td> <td align="right"> 0.72 </td> <td align="right"> 4.81 </td> <td align="right"> 0.000 </td> <td align="right"> 0.34 </td> </tr>
  <tr> <td> LS, HP </td> <td>  97 </td> <td align="right"> 0.62 </td> <td align="right"> 0.10 </td> <td align="right"> 0.42 </td> <td align="right"> 0.83 </td> <td align="right"> 0.60 </td> <td align="right"> 0.11 </td> <td align="right"> 0.36 </td> <td align="right"> 0.83 </td> <td align="right"> 2.78 </td> <td align="right"> 0.039 </td> <td align="right"> 0.24 </td> </tr>
  <tr> <td> RMadj </td> <td>  98 </td> <td align="right"> 0.89 </td> <td align="right"> 0.11 </td> <td align="right"> 0.50 </td> <td align="right"> 1.14 </td> <td align="right"> 0.82 </td> <td align="right"> 0.19 </td> <td align="right"> 0.43 </td> <td align="right"> 1.62 </td> <td align="right"> 4.09 </td> <td align="right"> 0.001 </td> <td align="right"> 0.54 </td> </tr>
  <tr> <td> Pupillometry </td> <td> 104 </td> <td align="right"> 0.41 </td> <td align="right"> 0.20 </td> <td align="right"> 0.11 </td> <td align="right"> 1.60 </td> <td align="right"> 0.45 </td> <td align="right"> 0.19 </td> <td align="right"> 0.10 </td> <td align="right"> 1.41 </td> <td align="right"> -3.59 </td> <td align="right"> 0.003 </td> <td align="right"> -0.27 </td> </tr>
  <tr> <td> CDT, word ID </td> <td> 102 </td> <td align="right"> 0.91 </td> <td align="right"> 0.04 </td> <td align="right"> 0.83 </td> <td align="right"> 1.00 </td> <td align="right"> 0.72 </td> <td align="right"> 0.06 </td> <td align="right"> 0.52 </td> <td align="right"> 0.82 </td> <td align="right"> 29.92 </td> <td align="right"> 0.000 </td> <td align="right"> 3.66 </td> </tr>
  <tr> <td> SDT, word ID </td> <td> 103 </td> <td align="right"> 0.92 </td> <td align="right"> 0.04 </td> <td align="right"> 0.78 </td> <td align="right"> 1.00 </td> <td align="right"> 0.70 </td> <td align="right"> 0.08 </td> <td align="right"> 0.42 </td> <td align="right"> 0.83 </td> <td align="right"> 28.98 </td> <td align="right"> 0.000 </td> <td align="right"> 3.46 </td> </tr>
  <tr> <td> Pupillometry, word ID </td> <td> 101 </td> <td align="right"> 0.96 </td> <td align="right"> 0.06 </td> <td align="right"> 0.68 </td> <td align="right"> 1.00 </td> <td align="right"> 0.81 </td> <td align="right"> 0.11 </td> <td align="right"> 0.54 </td> <td align="right"> 1.00 </td> <td align="right"> 14.07 </td> <td align="right"> 0.000 </td> <td align="right"> 2.00 </td> </tr>
   </table>
