<!-- html table generated in R 3.4.2 by xtable 1.8-2 package -->
<!-- Tue Jan 16 10:01:21 2018 -->
<table border=1>
<caption align="top"> xx </caption>
<tr> <th> Task </th> <th> N </th> <th> mean </th> <th> SD </th> <th> min </th> <th> max </th>  </tr>
  <tr> <td> PTA </td> <td> 109 </td> <td align="right"> 3.85 </td> <td align="right"> 4.22 </td> <td align="right"> -5.00 </td> <td align="right"> 23.33 </td> </tr>
  <tr> <td> RSpan </td> <td> 102 </td> <td align="right"> 0.69 </td> <td align="right"> 0.17 </td> <td align="right"> 0.22 </td> <td align="right"> 0.96 </td> </tr>
  <tr> <td> LM </td> <td> 109 </td> <td align="right"> 0.86 </td> <td align="right"> 0.08 </td> <td align="right"> 0.50 </td> <td align="right"> 1.00 </td> </tr>
  <tr> <td> LDT </td> <td> 109 </td> <td align="right"> 606 </td> <td align="right"> 114 </td> <td align="right"> 452 </td> <td align="right"> 1425 </td> </tr>
  <tr> <td> LDT, acc </td> <td> 109 </td> <td align="right"> 0.97 </td> <td align="right"> 0.03 </td> <td align="right"> 0.86 </td> <td align="right"> 1.00 </td> </tr>
  <tr> <td> Simon </td> <td> 109 </td> <td align="right"> 18 </td> <td align="right"> 28 </td> <td align="right"> -112 </td> <td align="right"> 77 </td> </tr>
  <tr> <td> Simon, acc </td> <td> 109 </td> <td align="right"> 0.95 </td> <td align="right"> 0.05 </td> <td align="right"> 0.74 </td> <td align="right"> 1.00 </td> </tr>
  <tr> <td> TRT </td> <td> 109 </td> <td align="right"> 66.34 </td> <td align="right"> 4.09 </td> <td align="right"> 58.00 </td> <td align="right"> 74.62 </td> </tr>
  <tr> <td> Extraversion </td> <td> 107 </td> <td align="right"> 3.28 </td> <td align="right"> 0.79 </td> <td align="right"> 1.67 </td> <td align="right"> 5.00 </td> </tr>
  <tr> <td> HSPS </td> <td> 108 </td> <td align="right"> 4.53 </td> <td align="right"> 0.72 </td> <td align="right"> 3.00 </td> <td align="right"> 6.59 </td> </tr>
   </table>
